#===== Python ======
__pycache__/
*.pyc
*.pyo
*.pyd

# ROS Build
build/
devel/
logs/
*.bag

# Virtual Environments
venv/
.env/
.venv/

# Temporary Files
*.log
*.tmp
tmp/
cache/
*.swp

# Imagenes
*.png
*.jpg

# Numpy
*.npy

# Central Node
Central_Node_Model/central_node_ros.py

# Left Knee Node
Left_Knee_Distributed/5Kfolds
Left_Knee_Distributed/har
Left_Knee_Distributed/har_probs_listener_ros.py
Left_Knee_Distributed/left_knee_node.py
Left_Knee_Distributed/pub.py
Left_Knee_Distributed/sub.py
Left_Knee_Distributed/sub_probs.py
Left_Knee_Distributed/sub_probs.py.save
Left_Knee_Distributed/.metawear

# Right Knee Model
Right_Knee_Distributed/5Kfolds
Right_Knee_Distributed/har
Right_Knee_Distributed/har_probs_listener.py
Right_Knee_Distributed/right_knee_node.py
Right_Knee_Distributed/.metawear

# Left Hand Model
Left_Hand_Distributed/5Kfolds
Left_Hand_Distributed/cnn_lstm_1.onnx
Left_Hand_Distributed/har_probs_listener.py
Left_Hand_Distributed/.metawear
Left_Hand_Distributed/.left_hand_node_ros.py.swn
Left_Hand_Distributed/.left_hand_node_ros.py.swo

# Right Hand Model
Right_Hand_Distributed/.metawear
Right_Hand_Distributed/cnn_lstm_1.onnx
Right_Hand_Distributed/har_probs_listener.py

# Chest Model
Chest_Distributed/.metawear
Chest_Distributed/har_probs_listener.py

/documentation/