#===== Python ======
__pycache__/
*.pyc
*.pyo
*.pyd

# ROS Build
build/
devel/
logs/
*.bag

# Virtual Environments
venv/
.env/
.venv/

# Temporary Files
*.log
*.tmp
tmp/
cache/
*.swp

# Imagenes
*.png
*.jpg

# Numpy
*.npy

# Central Node
Central_Node_Model/central_node_ros.py

